:root {
  --app-brown-rgb: 87, 25, 46;
  --app-green-1-rgb: 194, 214, 92;
  --app-green-2-rgb: 119, 195, 168;
  --app-green-3-rgb: 13, 112, 91;
  --app-gray-1-rgb: 34, 46, 53;

  --on-dark-1: rgb(230, 230, 230);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
