.homeMain {
  background-color: rgb(var(--app-gray-1-rgb));
}

.homeImage {
  align-items: center;
  background-image: url("/forest-backgorund.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 600px;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

.overlappedDiv {
  background-color: white;
  height: 800px;
  left: 80px;
  padding: 20px;
  position: relative;
  top: -80px;
  width: 100%;
}
