.homeImage {
  align-items: center;
  background-image: url("/forest-backgorund.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 600px;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (max-width: 1200px) {
  .col2 {
    grid-template-columns: 1fr;
  }
}
